<!DOCTYPE html>
<html>
<head>
    <title>Sign Up Page</title>
</head>
<body style="background-color: #e3e8e5">
    <h1 style="text-align: center;">Enter Your Information Below</h1>
    <form action="###">
    <div style="text-align: center;">
        <label for="Username">Username:</label><br>
        <input type="text" required><br><br>
        <label for="Password">Password:</label><br>
        <input type="text" required><br><br>
        <input type="submit" value="Sign Up">
        <p>This is where information is going to be written for the user</p>
    </div>
    </form>
<footer><center>©Korey_Rodi</center></footer>
</body>
</html>